$border-radius: 4px;

$primary-color: #28D489;
$primary-color-hover: #2EE696;
$primary-color-active: #26BB7A;

$font-color: #43495A;
$border-color: #E0E7EE;
$font-gray: #8A8E96;

$title-color: #474D5E;